#carrousel{
position:relative;
margin:auto;
}

#carrousel ul li{
position:absolute;
top:0;
left:0;
}

.controls {
position: absolute;
top: 9rem;
width: 344px;
display: flex;
justify-content: space-between;
padding: 1rem;
}

.prev, .next {
border-radius: 50%;
background: #fff;
padding: .4rem .7rem;
cursor: pointer;
}
